<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>911292377774-vfmrl4c5q04u490sk0altlh3p0s7ju40.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.911292377774-vfmrl4c5q04u490sk0altlh3p0s7ju40</string>
	<key>API_KEY</key>
	<string>AIzaSyBxL2EJrwbaJJiB9IsqNPoyHr3MYmv2-nw</string>
	<key>GCM_SENDER_ID</key>
	<string>911292377774</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fitzcreative.envelope</string>
	<key>PROJECT_ID</key>
	<string>theenvelopeapp</string>
	<key>STORAGE_BUCKET</key>
	<string>theenvelopeapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:911292377774:ios:a1d54b9198db2504fd5b3f</string>
	<key>DATABASE_URL</key>
	<string>https://theenvelopeapp.firebaseio.com</string>
</dict>
</plist>